.inform-content {
  /* border: 1px solid red; */
  padding-top: 84px;
  font-family: Futura-book;
}
.inform-form-container {
  display: flex;
  justify-content: center;
  padding: 50px 15px;
}
.inform-form {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px 50px;
  max-width: 400px;
  box-shadow: 5px 5px 34px -15px rgba(0, 0, 0, 0.75);
}
.inform-form h2 {
  font-family: Futura;
  color: #fc5b68;
  text-align: center;
}
.inform-form p {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.inform-form input, .inform-form textarea {
  border: 1px solid #bdbdbd;
  margin-top: 2px;
  min-height: 20px;
  outline: none;
}
.inform-form input:focus, .inform-form textarea:focus {
  border: 1px solid #fc5b68;
  transition: all 0.4s ease;
}
.inform-form div {
  margin: 0 auto;
}
.inform-form button {
  font-family: Futura;
  background-color: #fc5b68;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 5px 20px;
  margin-top: 10px;
  cursor: pointer;
}
.inform-form button:hover {
  background-color: #c94853;
  transition: all 0.2s ease;
}
.highlight {
  width: 100vw;
  overflow: auto;
  z-index: 0;
}
.highlight .indicators {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  top: 75vh;
}
.highlight .indicators div {
  transition: all 0.2s ease;
  width: 0.5em;
  height: 0.5em;
  margin-right: 1em;
  border-radius: 100%;
  border: 2px solid dimgray;
  cursor: pointer;
}
.highlight .indicators div:hover {
  border: 2px solid white;
}
.highlight .slides {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.highlight .slides::-webkit-scrollbar {
  display: none;
}
.active-indicator {
  border: 2px solid white !important;
}
.highlight-card {
  height: 80vh;
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100vw;
}
.highlight-card ul {
  margin-top: -2em;
  margin-left: 1rem;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
.highlight-card ul li {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}
.highlight-card ul li a {
  align-items: flex-start;
  height: 1.4em;
  margin-top: -4em;
  text-decoration: none;
  background-color: #003791;
  padding: 0.2em 0.5em 0.2em 0.5em;
  color: white;
}
.highlight-card a {
  display: flex;
  flex-direction: column;
  margin-top: 60vh;
  text-decoration: none;
}
.highlight-card a h2 {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}
.highlight-card a p {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}
.content {
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
}
.content .content-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .content-top-row h2 {
  color: #3c3c3c;
}
.content .content-top-row form {
  margin-right: 25%;
}
.content .content-top-row form label {
  font-family: Futura;
  font-weight: lighter;
  color: #3c3c3c;
}
.content .content-top-row form select {
  border: none;
  font-family: Futura;
  background-color: #3c3c3c;
  color: white;
  padding: 0.2em;
}
.content .content-top-row #Laatste-nieuws {
  margin-left: 1rem;
}
.content .content-grid {
  display: flex;
  flex-direction: row;
}
.content .content-grid .content-left {
  width: 70%;
  margin-right: 10%;
}
.content .content-grid .content-right {
  width: 20%;
}
@media screen and (min-device-width: 300px) and (max-device-width: 812px) {
  .content .content-top-row {
    width: 100%;
  }
  .content .content-top-row form {
    margin-right: 1rem;
    width: 7em;
  }
  .content #Laatste-nieuws {
    margin-left: 1rem;
  }
  .content .content-grid {
    display: flex;
    flex-direction: row;
  }
  .content .content-grid .content-left {
    width: 100%;
  }
  .content .content-grid .content-right {
    display: none;
  }
}
.footer {
  background-color: #fff;
  border-top: 1px solid #ededed;
}
.footer-content-container {
  max-width: 1170px;
  padding: 25px 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-logo-container {
  /* border: 1px solid rgb(142, 143, 142); */
  max-width: 150px;
}
.footer-logo {
  width: 100%;
}
.footer-information {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  /* border: 1px solid purple; */
}
.column:not(:last-child) {
  margin-right: 100px;
}
.column h3 {
  margin-top: 0;
  font-family: Futura-book;
  color: #3c3c3c;
}
.column h4 {
  margin: 0;
  font-family: Futura-book;
}
.column p {
  font-family: Futura-book;
  margin: 0;
  padding: 0;
  color: #3c3c3c;
}
.column a {
  text-decoration: none;
  color: #3c3c3c;
  font-family: Futura-book;
  padding-bottom: 5px;
}
.footer-inform {
  margin-top: 10px;
  font-weight: bold;
}
.social-icon {
  font-size: 16px;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.footer-copyright {
  color: #fff;
  background-color: #000;
  width: 100%;
  text-align: center;
}
.footer-copyright p {
  margin: 0;
  padding: 15px;
  font-size: 12px;
}
@media screen and (min-device-width: 300px) and (max-device-width: 812px) {
  .footer-content-container {
    flex-direction: column;
  }
  .footer-logo-container {
    margin: 0 auto;
  }
  .footer-information {
    margin-left: 0;
  }
  .column {
    margin: 15px 10px;
  }
  .column:not(:last-child) {
    margin-right: 0;
  }
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -3em;
  position: relative;
}
.header-container a {
  text-decoration: none;
}
.header-container h1 {
  font-family: "Futura";
  color: white;
  margin-left: 1rem;
}
.header-container nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-container nav a {
  margin-right: 1em;
  text-decoration: none;
  font-family: "Futura";
  color: white;
}
@media screen and (min-device-width: 300px) and (max-device-width: 812px) {
  .header-container nav {
    display: none;
  }
}
.content {
  margin-top: 5em;
}
.article-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  margin-left: 1rem;
  margin-top: 2em;
}
.article-card a img {
  transition: all 0.2s ease;
  width: 9em;
  height: 9em;
  margin-right: 2em;
  object-fit: cover;
}
.article-card a img:hover {
  transform: scale(1.1);
}
.article-card .article-card-text {
  display: flex;
  flex-direction: column;
}
.article-card .article-card-text a {
  text-decoration: none;
}
.article-card .article-card-text a h2 {
  transition: all 0.2s ease;
  color: #3c3c3c;
  margin-bottom: 0.5rem;
  min-height: 2.7em;
}
.article-card .article-card-text a h2:hover {
  color: #003791;
}
.article-card .article-card-text a span p {
  color: #3c3c3c;
  font-family: "Futura";
  font-style: italic;
  margin-bottom: 0.5em;
}
.article-card .article-card-text a .metadata {
  color: gray;
  font-size: 0.8em;
  justify-content: left;
}
.article-card .article-card-text a .metadata i {
  margin-right: 0.5em;
}
.article-card .article-card-text a .excerpt {
  margin-bottom: 1em;
}
.post-categories {
  list-style-type: none;
  margin-bottom: 1em;
  margin-top: 0.2em;
  display: flex;
  flex-direction: row;
}
.post-categories a {
  transition: all 0.2s ease;
  margin-right: 1em;
  height: 1.4em;
  text-decoration: none;
  background-color: #003791;
  padding: 0.2em 0.5em 0.2em 0.5em;
  color: white;
  border: 2px solid #003791;
}
.post-categories a:hover {
  background-color: transparent;
  color: #003791;
}
@media screen and (min-device-width: 300px) and (max-device-width: 812px) {
  .article-card {
    max-width: 100vw;
  }
  .article-card a img {
    width: 6em;
    height: 100%;
    margin-right: 1rem;
  }
  .article-card .article-card-text {
    display: flex;
    flex-direction: column;
  }
  .article-card .article-card-text ul {
    display: none;
  }
  .article-card .article-card-text a {
    text-decoration: none;
  }
  .article-card .article-card-text a h2 {
    font-size: 1em;
  }
  .article-card .article-card-text a .metadata {
    font-size: 0.9em;
  }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
h1 {
  font-family: "Futura";
}
h2 {
  font-family: "Futura";
}
p {
  font-family: "Futura";
}
a {
  font-family: "Futura";
}
@font-face {
  font-family: "Futura-Book";
  src: url("../fonts/Futura Book font.ttf") format("ttf");
}
@font-face {
  font-family: "Futur";
  src: url("../fonts/Futur.ttf") format("ttf");
}
@font-face {
  font-family: "Futura-Bold";
  src: url("../fonts/Futura Bold font.ttf") format("ttf");
}
@font-face {
  font-family: "Futura-Heavy";
  src: url("../fonts/Futura Heavy font.ttf") format("ttf");
}
@font-face {
  font-family: "Futura-Light";
  src: url("../fonts/Futura Light font.ttf") format("ttf");
}
