/* utilities */
.inform-content {
  /* border: 1px solid red; */
  padding-top: 84px;
  font-family: Futura-book;
}
.inform-form-container {
  display: flex;
  justify-content: center;
  padding: 50px 15px;
}
.inform-form {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px 50px;
  max-width: 400px;
  box-shadow: 5px 5px 34px -15px rgba(0, 0, 0, 0.75);
}
.inform-form h2 {
  font-family: Futura;
  color: #fc5b68;
  text-align: center;
}
.inform-form p {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.inform-form input, .inform-form textarea {
  border: 1px solid #bdbdbd;
  margin-top: 2px;
  min-height: 20px;
  outline: none;
}
.inform-form input:focus, .inform-form textarea:focus {
  border: 1px solid #fc5b68;
  transition: all 0.4s ease;
}
.inform-form div {
  margin: 0 auto;
}
.inform-form button {
  font-family: Futura;
  background-color: #fc5b68;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 5px 20px;
  margin-top: 10px;
  cursor: pointer;
}
.inform-form button:hover {
  background-color: #c94853;
  transition: all 0.2s ease;
}
.highlight {
  overflow: auto;
  z-index: 0;
}
.highlight .indicators {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  top: 75vh;
}
.highlight .indicators div {
  transition: all 0.2s ease;
  width: 0.5em;
  height: 0.5em;
  margin-right: 1em;
  border-radius: 100%;
  border: 2px solid dimgray;
  cursor: pointer;
}
.highlight .indicators div:hover {
  border: 2px solid white;
}
.highlight .slides {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.highlight .slides::-webkit-scrollbar {
  display: none;
}
.active-indicator {
  border: 2px solid white !important;
}
.highlight-card {
  height: 80vh;
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100vw;
}
.highlight-card ul {
  margin-top: -2em;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
}
@media only screen and (min-width: 1920px) {
  .highlight-card ul {
    padding-left: 1rem;
  }
}
.highlight-card ul li {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 320px) {
  .highlight-card ul li {
    margin-left: -1rem;
  }
}
.highlight-card ul li a {
  align-items: flex-start;
  height: 1.4em;
  margin-top: -4em;
  margin-right: 0.5rem;
  text-decoration: none;
}
.highlight-card a {
  display: flex;
  flex-direction: column;
  margin-top: 60vh;
  text-decoration: none;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.highlight-card a h2 {
  margin-left: 2rem;
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 320px) {
  .highlight-card a h2 {
    margin-left: 1rem;
  }
}
.highlight-card a p {
  margin-left: 2rem;
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 320px) {
  .highlight-card a p {
    margin-left: 1rem;
  }
}
.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.content .content-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .content-top-row h2 {
  color: #3c3c3c;
  border-left: 4px solid #5ebfbb;
  padding-left: 0.5rem;
}
.content .content-top-row form {
  margin-right: 30%;
}
.content .content-top-row form label {
  font-family: Futura-Book;
  font-weight: lighter;
  color: #3c3c3c;
}
.content .content-top-row form select {
  border: none;
  font-family: Futura-Book;
  transition: all 0.2s ease;
  border: 2px solid #5ebfbb;
  color: #3c3c3c;
  padding: 0.2em 2em 0.2em 0.5em;
  border-radius: 2px;
  -webkit-appearance: none;
  background: url("../../assets/img/sort-down-solid-green.svg") no-repeat;
  background-size: 15px 15px;
  background-position: 95% 50%;
  cursor: pointer;
}
.content .content-top-row form select:focus {
  outline: none;
}
.content .content-top-row form select:hover {
  color: white;
  background: url("../../assets/img/sort-down-solid-white.svg") no-repeat #5ebfbb;
  background-size: 15px 15px;
  background-position: 95% 50%;
}
.content .content-top-row form select:before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  color: #3c3c3c;
}
.content .content-top-row #Laatste-nieuws {
  margin-left: 1rem;
}
.content .content-grid {
  display: flex;
  flex-direction: row;
}
.content .content-grid .content-left {
  width: 70%;
  margin-right: 5%;
}
.content .content-grid .content-right {
  width: 25%;
}
@media screen and (min-device-width: 300px) and (max-device-width: 812px) {
  .content .content-top-row {
    width: 100%;
  }
  .content .content-top-row form {
    margin-right: 1rem;
    width: 7em;
  }
  .content #Laatste-nieuws {
    margin-left: 1rem;
  }
  .content .content-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .content .content-grid .content-left {
    width: 100%;
  }
  .content .content-grid .content-right {
    width: 100%;
    padding: 1rem;
  }
}
.featured-image {
  display: flex;
  justify-content: center;
}
.featured-image img {
  margin-top: 7vh;
  margin-bottom: 4vh;
  height: 50vh;
  width: 1070px;
  object-fit: cover;
}
.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
}
.grid-container .postContainer {
  flex-direction: column;
  width: 65%;
}
.grid-container .postContainer .post {
  display: flex;
  flex-direction: column;
}
.grid-container .postContainer .post__title {
  font-size: 1.3em;
  color: #3c3c3c;
  margin-bottom: 5px;
}
.grid-container .postContainer .post__metadata {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  font-size: 0.8em;
  color: gray;
  font-family: "Futura-Book";
}
.grid-container .postContainer .post__metadata i {
  margin-right: 0.3em;
}
.grid-container .postContainer .post__author-date, .grid-container .postContainer .post__comments, .grid-container .postContainer .post__comments a {
  color: gray;
  font-family: "Futura-Book";
}
.grid-container .postContainer .post__comments a {
  color: #5ebfbb;
}
.grid-container .postContainer .post__comments a:hover {
  color: #348380;
  transition: 0.2s ease;
}
.grid-container .postContainer .post__content {
  margin-bottom: 4vh;
}
.grid-container .postContainer .post__content h3 {
  color: #3c3c3c;
  margin: 2vh 0 1vh 0;
}
.grid-container .postContainer .post__content p {
  margin: 1rem 0;
}
.grid-container .postContainer .post__content a {
  color: #5ebfbb;
  font-family: "Futura-Book";
}
.grid-container .postContainer .post__content a:hover {
  color: #348380;
  transition: 0.2s ease;
}
.grid-container .sideContainer {
  width: 30%;
  margin-left: 5%;
}
@media screen and (min-device-width: 300px) and (max-device-width: 812px) {
  .featured-image {
    width: 100vw;
  }
  .featured-image img {
    width: 100vw;
    height: 50vw;
  }
  .grid-container .postContainer {
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .grid-container .postContainer__content {
    margin-bottom: 4vh;
  }
  .grid-container .postContainer__content h3 {
    color: #3c3c3c;
    margin: 2vh 0 1vh 0;
  }
  .grid-container .sideContainer {
    display: none;
  }
}
.container__content {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.container__content--top h2 {
  font-size: 5em;
  font-family: Futura-Heavy;
  text-transform: uppercase;
}
.container__content--top h3 {
  font-size: 3em;
  font-family: Futura-Book;
  margin-bottom: 1em;
}
.container__content--top .home-link {
  margin-bottom: 1em;
  font-size: 1.5em;
}
.container__content--top div {
  margin-bottom: 1em;
}
.loginform {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
.loginform__form {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 320px) and (max-width: 769px) {
  .loginform__form {
    width: 90%;
  }
}
.loginform__form p {
  margin-top: 0.5rem;
}
.loginform__form p label {
  display: inline-block;
  width: 40%;
  font-family: Futura-Heavy;
}
.loginform__form p input[type="text"] {
  -webkit-appearance: none;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.25em;
  width: 55%;
  font-family: Futura-Book;
  font-size: 1em;
}
.loginform__form p input[type="password"] {
  -webkit-appearance: none;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.25em;
  width: 55%;
  font-family: Futura-Book;
  font-size: 1em;
}
.loginform__form p textarea {
  -webkit-appearance: none;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.25em;
  width: 96%;
  font-family: Futura-Book;
  font-size: 1em;
}
.loginform__form--submit input[type=submit] {
  text-decoration: none;
  -webkit-appearance: none;
  transition: all 0.2s ease;
  border: 1px solid #3c3c3c;
  background-color: #3c3c3c;
  color: white;
  font-size: 1em;
  padding: 0.5em;
  cursor: pointer;
  font-family: Futura-Heavy;
}
.loginform__form--submit input[type=submit]:hover {
  border: 1px solid #5ebfbb;
  background-color: #5ebfbb;
  color: white;
}
.profile-head-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.profile-head-section img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}
.profile-head-section h2 {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.logout {
  display: flex;
  margin-top: 2rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 320px) and (max-width: 769px) {
  .logout {
    width: 90%;
  }
}
.logout a {
  background: #3c3c3c;
  border: 1px solid #3c3c3c;
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: Futura-Book;
  padding: 0.5em;
  width: 100%;
  text-align: center;
}
.logout a:hover {
  border: 1px solid #5ebfbb;
  background: #5ebfbb;
  color: white;
}
body {
  background-color: white;
}
#login {
  padding: 12% 0 0;
}
.login-form h1 {
  color: #3c3c3c;
}
.login-form form {
  border: none;
  box-shadow: none;
}
@media only screen and (min-width: 320px) and (max-width: 769px) {
  .login-form #logo img {
    display: none;
  }
}
.login-form p input[type=text] {
  outline: none;
  transition: all 0.2s ease;
}
.login-form p input[type=text]:focus {
  border-color: #5ebfbb;
  box-shadow: none;
  outline: none;
}
.login-form .wp-pwd input[type=password] {
  outline: none;
  transition: all 0.2s ease;
}
.login-form .wp-pwd input[type=password]:focus {
  border-color: #5ebfbb;
  box-shadow: none;
  outline: none;
}
.wp-core-ui .button-primary {
  background-color: #3c3c3c;
  border: 2px solid #3c3c3c;
  border-radius: 0;
  transition: all 0.2s ease;
}
.wp-core-ui .button-primary:hover {
  background-color: transparent;
  border: 2px solid #5ebfbb;
  color: #5ebfbb;
}
.dashicons::before {
  color: #5ebfbb;
}
.footer {
  background-color: #000;
  color: #fff;
  border-top: 1px solid #ededed;
  padding: 0 15px;
  font-size: 14px;
  margin-top: 5rem;
}
.footer h1, .footer h2, .footer h3, .footer h4 {
  color: #fff;
}
.footer p, .footer a {
  font-family: "Futura-Book";
  color: #9b9b9b;
}
.footer .mainfooter {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (min-width: 320px) and (max-width: 769px) {
  .footer .mainfooter {
    justify-content: center;
  }
}
.footer .mainfooter__image-container {
  padding: 0 15px;
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.footer .mainfooter__image {
  height: 2.5rem;
}
.footer .mainfooter__column-container {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 320px) and (max-width: 769px) {
  .footer .mainfooter__column-container {
    width: 100%;
    justify-content: space-between;
  }
}
.footer .mainfooter__column {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  line-height: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 769px) {
  .footer .mainfooter__column--center {
    width: 100%;
    align-items: center;
  }
}
.footer .mainfooter__title {
  margin-bottom: 15px;
}
.footer .mainfooter__subtitle--margin-top {
  margin-top: 15px;
}
.footer .mainfooter__link:hover {
  transition: color 0.75s ease;
  color: #fff;
}
.footer .mainfooter__social-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 320px) and (max-width: 769px) {
  .footer .mainfooter__social-icon {
    margin: 0 2.5px;
  }
}
.footer .copyright-bar {
  display: flex;
  justify-content: center;
}
.footer .copyright-bar__text {
  border-top: 1px solid #272727;
  max-width: 1920px;
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 12px;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -3em;
  position: fixed;
  top: 0;
  width: 100vw;
  transition: all 0.4s ease;
  background-color: white;
  height: 4rem;
  z-index: 100;
  border-bottom: 2px solid rgba(60, 60, 60, 0.1);
}
.header-container__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.header-container__content a {
  text-decoration: none;
  z-index: 200;
}
.header-container__content h1 {
  text-align: center;
  color: #3c3c3c;
  margin-left: 1rem;
  transition: all 1s ease;
}
.header-container__content img {
  height: 2.5rem;
  margin-left: 2rem;
}
@media only screen and (min-width: 320px) {
  .header-container__content img {
    margin-left: 1rem;
  }
}
.header-container__content #main-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 1rem;
}
.header-container__content #main-nav .nav-item:hover {
  color: #5ebfbb !important;
}
.header-container__content #main-nav a {
  margin-right: 1em;
  text-decoration: none;
  font-family: "Futura-Heavy";
  color: #3c3c3c;
  transition: all 0.2s ease;
}
.header-container__content .hamburger {
  display: none;
}
@media screen and (min-device-width: 300px) and (max-device-width: 812px) {
  .header-container #main-nav {
    display: none;
  }
  .header-container .hamburger {
    display: flex;
  }
}
.content {
  margin-top: 5em;
}
.article-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  margin-left: 1rem;
  margin-top: 2em;
}
.article-card a img {
  transition: all 0.2s ease;
  width: 9em;
  height: 9em;
  margin-right: 2em;
  object-fit: cover;
}
.article-card a img:hover {
  transform: scale(1.1);
}
.article-card .article-card-text {
  display: flex;
  flex-direction: column;
}
.article-card .article-card-text a {
  text-decoration: none;
}
.article-card .article-card-text a h2 {
  transition: all 0.2s ease;
  color: #3c3c3c;
  margin-bottom: 0.5rem;
  min-height: 3.7em;
  font-size: 1.3em;
}
.article-card .article-card-text a h2:hover {
  color: #5ebfbb;
}
.article-card .article-card-text a span p {
  color: #3c3c3c;
  font-family: "Futura";
  font-style: italic;
  margin-bottom: 0.5em;
}
.article-card .article-card-text a .metadata {
  color: gray;
  font-size: 0.8em;
  justify-content: left;
}
.article-card .article-card-text a .metadata i {
  margin-right: 0.5em;
}
.article-card .article-card-text a .excerpt {
  margin-bottom: 1em;
}
.post-categories {
  list-style-type: none;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
}
.pagination {
  margin-left: 0.5rem;
}
.pagination a {
  margin: 0.5em;
  color: gray;
  text-decoration: none;
  font-family: "Futura-Book";
  padding: 0.3em 0.6em 0.3em 0.6em;
  border: 2px solid transparent;
  transition: all 0.2s ease;
}
.pagination a:hover {
  border: 2px solid #5ebfbb;
}
.pagination .next {
  border: none;
  border: 2px solid transparent;
}
.pagination .next:before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  color: #3c3c3c;
}
.pagination .prev {
  border: none;
  border: 2px solid transparent;
}
.pagination .prev:before {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  display: inline-block;
  font-weight: 900;
  color: #3c3c3c;
}
.pagination .current {
  padding: 0.3em 0.6em 0.3em 0.6em;
  background: #5ebfbb;
  color: white;
  margin: 0.5em;
}
@media screen and (min-device-width: 300px) and (max-device-width: 812px) {
  .article-card {
    max-width: 100vw;
  }
  .article-card a img {
    width: 6em;
    height: 100%;
    margin-right: 1rem;
  }
  .article-card .article-card-text {
    display: flex;
    flex-direction: column;
  }
  .article-card .article-card-text ul {
    display: none;
  }
  .article-card .article-card-text a {
    text-decoration: none;
  }
  .article-card .article-card-text a h2 {
    font-size: 1em;
  }
  .article-card .article-card-text a .metadata {
    font-size: 0.9em;
  }
}
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
body {
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  font-family: "Avenir Next", "Avenir", sans-serif;
}
#menuToggle {
  display: block;
  position: relative;
  margin-right: 1rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #3c3c3c;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: tomato;
}
#menuToggle input[type=checkbox] {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #3c3c3c;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #3c3c3c;
}
/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -5em 0 0 -100vw;
  padding-left: 3em;
  padding-right: 3em;
  -webkit-backdrop-filter: brightness(0.5);
  overflow: auto;
  background: #3c3c3c;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(0, -200vh);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.menu-wrapper {
  padding: 8rem 7.5vw 0rem 7.5vw;
  margin-left: auto;
  margin-right: auto;
}
#menu li {
  display: flex;
  justify-content: center;
  padding: 5% 0 5% 0;
  font-size: 22px;
  font-family: Futura-Bold;
  text-align: center;
  color: white;
  margin-top: 1em;
}
#s {
  margin-top: 2vh;
  margin-bottom: 2rem;
  width: 97%;
}
#menu form div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}
.animation {
  animation: opacityanim 1s ease;
}
@keyframes opacityanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.span-dark {
  background: #3c3c3c !important;
}
.h1-dark {
  color: #3c3c3c !important;
}
.hamburger__links {
  display: flex;
  flex-direction: column;
}
.hamburger__socials {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10vh;
}
.hamburger__socials i {
  font-size: 1.5em;
  color: white;
}
.searchform__fields label {
  display: none;
}
.searchform__fields input[type="text"] {
  font-size: 1.2em;
  font-family: Futura-Bold;
  padding: 0.4em 0em 0.4em 0.4em;
  border-radius: 0;
  border: 0;
  border: 1px solid #f0f0f0;
  border-style: solid;
  background: none;
  -webkit-appearance: none;
}
.searchform__fields input[type="text"]::placeholder {
  color: gray;
}
.searchform__fields input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px rgba(219, 219, 219, 1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(219, 219, 219, 1);
}
.searchform__fields #filtersubmit {
  padding: 1.75em 0;
  margin-left: -2em;
  color: gray;
  position: relative;
}
.category-tag {
  transition: all 0.2s ease;
  margin-right: 0.5em;
  height: 1.4em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "futura-book";
  border-radius: 2px;
}
.category-tag:hover {
  background-color: transparent;
}
.category-tag--blue {
  background-color: #003791;
  border: 2px solid #003791;
}
.category-tag--blue:hover {
  color: #003791;
}
.category-tag--green {
  background-color: #107c10;
  border: 2px solid #107c10;
}
.category-tag--green:hover {
  color: #107c10;
}
.category-tag--red {
  background-color: #e60012;
  border: 2px solid #e60012;
}
.category-tag--red:hover {
  color: #e60012;
}
.category-tag--black {
  background-color: #000;
  border: 2px solid #000;
}
.category-tag--black:hover {
  color: #000;
}
.category-tag--lime {
  background-color: #5ebfbb;
  border: 2px solid #5ebfbb;
}
.category-tag--lime:hover {
  color: #5ebfbb;
}
#comments {
  display: none;
}
.commentlist {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.commentlist .comment {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #5ebfbb;
  padding-top: 1rem;
}
.commentlist .comment .children {
  margin-left: 2.5rem;
}
.commentlist .comment .comment-body {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
.commentlist .comment .comment-body .comment-author .says {
  display: none;
}
.commentlist .comment .comment-body .comment-author .fn {
  font-family: Futura-Book;
  font-style: normal;
  position: absolute;
  margin-left: 1rem;
}
.commentlist .comment .comment-body .comment-author .fn a {
  font-family: Futura-Book;
  font-style: normal;
}
.commentlist .comment .comment-body .comment-meta {
  position: absolute;
  margin-left: 3rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}
.commentlist .comment .comment-body .comment-meta a {
  font-family: Futura-Book;
  color: gray;
  font-size: 0.75em;
}
.commentlist .comment .comment-body .reply {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.commentlist .comment .comment-body .reply a {
  padding: 0 0.25em 0 0.25em;
  border: 2px solid #5ebfbb;
  border-radius: 2px;
  color: #5ebfbb;
  font-family: Futura-Book;
  font-size: 0.9em;
  transition: all 0.2s ease;
}
.commentlist .comment .comment-body .reply a:hover {
  background-color: #5ebfbb;
  color: white;
}
.commentlist .comment .comment-body p {
  margin-top: 1rem;
}
.comment-respond .comment-form {
  display: flex;
  flex-direction: column;
}
.comment-respond .comment-form p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.comment-respond .comment-form .form-submit input[type=submit] {
  appearance: none;
  padding: 0.25em 0.25em 0.25em 0.25em;
  border: 2px solid #5ebfbb;
  border-radius: 2px;
  color: #5ebfbb;
  background-color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}
.comment-respond .comment-form .form-submit input[type=submit]:hover {
  background-color: #5ebfbb;
  color: white;
}
.comment-respond .comment-form-comment {
  display: flex;
  flex-direction: column;
}
.comment-respond .comment-form-comment textarea {
  font-family: Futura-Book;
  border: 2px solid #5ebfbb;
  border-radius: 2px;
  margin-top: 0.5rem;
  transition: all 0.2s ease;
}
.comment-respond .comment-form-comment textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px rgba(94, 191, 187, 1);
}
.comment-respond .comment-form-url {
  display: none;
}
.cookie__message {
  background-color: white;
  position: sticky;
  display: flex;
  flex-direction: row;
  bottom: 0;
  max-width: 100%;
  padding: 1em 20vw 1em 20vw;
  justify-content: space-between;
  border-top: 2px solid #5ebfbb;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .cookie__message {
    padding: 1em 5vw 1em 5vw;
    flex-direction: column;
    text-align: center;
  }
}
.cookie__message--text {
  padding: 0.25em;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .cookie__message--text {
    margin-bottom: 1rem;
  }
}
.cookie__message--button {
  font-family: Futura-Book;
  border: 2px solid #5ebfbb;
  border-radius: 2px;
  padding: 0.25em;
  color: #5ebfbb;
  transition: all 0.2s ease;
  display: inline-block;
  width: 7em;
  text-align: center;
}
.cookie__message--button:nth-of-type(1) {
  margin-right: 1rem;
  color: white;
  background-color: #5ebfbb;
}
.cookie__message--button:hover {
  color: #5ebfbb;
  background-color: white;
}
#cookie-message {
  position: sticky;
  bottom: 0;
}
.sidebar__container-title {
  border-radius: 2px;
  margin-top: 2em;
  margin-bottom: 1em;
}
.sidebar__container-title h2 {
  color: #3c3c3c;
  border-left: 4px solid #5ebfbb;
  padding-left: 0.5rem;
}
.sidebar__container .popular__card {
  display: flex;
  transition: all 0.2s ease;
  flex-direction: column;
  margin-bottom: 1em;
  background-size: cover;
  border-radius: 4px;
  min-height: 5em;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.sidebar__container .popular__card:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.sidebar__container .popular__card:hover .sidebar-title {
  color: white;
  background: #5ebfbb;
}
.sidebar__container .popular__card a {
  overflow: hidden;
}
.sidebar__container .popular__card a img {
  width: 100%;
  height: 4em;
  object-fit: cover;
  margin-bottom: -4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: all 0.4s ease;
}
.sidebar__container .popular__card--link p {
  transition: all 0.2s ease;
  font-size: 1em;
  font-family: Futura-Heavy;
  font-size: 1em;
  padding: 0.5em;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.sidebar__container .popular__card--link p:hover {
  color: white;
  background: #5ebfbb;
}
.sidebar__container .iframe iframe {
  width: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}
.hidden {
  display: none;
}
h1 {
  font-family: "Futura-Heavy";
  color: #3c3c3c;
}
h2 {
  font-family: "Futura-Heavy";
  color: #3c3c3c;
}
h3 {
  font-family: "Futura-Heavy";
  color: #3c3c3c;
}
h4 {
  font-family: "Futura-Heavy";
  color: #3c3c3c;
}
p {
  font-family: "Futura-Book";
  color: #3c3c3c;
}
a {
  font-family: "Futura-Bold";
  color: #3c3c3c;
  text-decoration: none;
}
.wp-block-image {
  margin: 1em 0;
}
.wp-block-embed-youtube {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  height: auto;
  padding-bottom: 56.25%;
}
.wp-block-embed-youtube iframe, .wp-block-embed-youtube object, .wp-block-embed-youtube embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "Futura-Book";
  src: url("../fonts/futura-book-font-webfont.woff") format("woff");
  src: url("../fonts/futura-book-font-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Futura-Bold";
  src: url("../fonts/futura-bold-font-webfont.woff") format("woff");
  src: url("../fonts/futura-bold-font-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Futura-Heavy";
  src: url("../fonts/futura-heavy-font-webfont.woff") format("woff");
  src: url("../fonts/futura-heavy-font-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Futura-Light";
  src: url("../fonts/futura-light-font-webfont.woff") format("woff");
  src: url("../fonts/futura-light-font-webfont.woff2") format("woff2");
}
