html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

.hidden {
  display: none;
}

h1 {
  font-family: "Futura-Heavy";
  color: #3c3c3c;
}

h2 {
  font-family: "Futura-Heavy";
  color: #3c3c3c;
}

h3 {
  font-family: "Futura-Heavy";
  color: #3c3c3c;
}

h4 {
  font-family: "Futura-Heavy";
  color: #3c3c3c;
}

p {
  font-family: "Futura-Book";
  color: #3c3c3c;
}

a {
  font-family: "Futura-Bold";
  color: #3c3c3c;
  text-decoration: none;
}

//category buttons
.playstation-button {
  transition: all 0.2s ease;
  margin-right: 0.5em;
  height: 1.4em;
  text-decoration: none;
  background-color: #003791;
  padding: 0.2em 0.5em 0.2em 0.5em;
  color: white;
  border: 2px solid #003791;
  font-family: Futura-Book;
  font-size: 0.75em;
  //text-transform: uppercase;
  border-radius: 2px;
  &:hover {
    background-color: transparent;
    color: #003791;
  }
}

.xbox-button {
  transition: all 0.2s ease;
  margin-right: 0.5em;
  height: 1.4em;
  text-decoration: none;
  background-color: #107C10;
  padding: 0.2em 0.5em 0.2em 0.5em;
  color: white;
  border: 2px solid #107C10;
  font-family: Futura-Book;
  font-size: 0.75em;
  //text-transform: uppercase;
  border-radius: 2px;
  &:hover {
    background-color: transparent;
    color: #107C10;
  }
}

.switch-button {
  transition: all 0.2s ease;
  margin-right: 0.5em;
  height: 1.4em;
  text-decoration: none;
  background-color: #e60012;
  padding: 0.2em 0.5em 0.2em 0.5em;
  color: white;
  border: 2px solid #e60012;
  font-family: Futura-Book;
  font-size: 0.75em;
  //text-transform: uppercase;
  border-radius: 2px;
  &:hover {
    background-color: transparent;
    color: #e60012;
  }
}

.pc-button {
  transition: all 0.2s ease;
  margin-right: 0.5em;
  height: 1.4em;
  text-decoration: none;
  background-color: #3c3c3c;
  padding: 0.2em 0.5em 0.2em 0.5em;
  color: white;
  border: 2px solid #3c3c3c;
  font-family: Futura-Book;
  font-size: 0.75em;
  //text-transform: uppercase;
  border-radius: 2px;
  &:hover {
    background-color: transparent;
    color: #3c3c3c;
  }
}
