html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

.hidden {
  display: none;
}

h1 {
  font-family: "Futura-Heavy";
  color: #3c3c3c;
}

h2 {
  font-family: "Futura-Heavy";
  color: #3c3c3c;
}

h3 {
  font-family: "Futura-Heavy";
  color: #3c3c3c;
}

h4 {
  font-family: "Futura-Heavy";
  color: #3c3c3c;
}

p {
  font-family: "Futura-Book";
  color: #3c3c3c;
}

a {
  font-family: "Futura-Bold";
  color: #3c3c3c;
  text-decoration: none;
}
