// stylesheet imports

/* utilities */
@import '/variables';
@import '/mixins';

// pages
@import "/pages/inform";
@import "/pages/template-home";
@import "/pages/single";
@import "/pages/404";
@import "/pages/userprofile";
@import "/pages/login";

//template parts
@import "/template-parts/footer";
@import "/template-parts/header";
@import "/template-parts/recent-articles";
@import "/template-parts/hamburger-menu";
@import "/template-parts/searchform";
@import "/template-parts/category-tags";
@import "/template-parts/comments";
@import "/template-parts/cookie";
@import "/template-parts/sidebar";

//main
@import "/main";


//fonts
@font-face {
  font-family: "Futura-Book";
  src: url("../fonts/futura-book-font-webfont.woff") format("woff");
  src: url("../fonts/futura-book-font-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Futura-Bold";
  src: url("../fonts/futura-bold-font-webfont.woff") format("woff");
  src: url("../fonts/futura-bold-font-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Futura-Heavy";
  src: url("../fonts/futura-heavy-font-webfont.woff") format("woff");
  src: url("../fonts/futura-heavy-font-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Futura-Light";
  src: url("../fonts/futura-light-font-webfont.woff") format("woff");
  src: url("../fonts/futura-light-font-webfont.woff2") format("woff2");
}