.category-tag {
    transition: all 0.2s ease;
    margin-right: 0.5em;
    height: 1.4em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    font-family: "futura-book";
    border-radius: 2px;

    &:hover {
        background-color: transparent;
      }

    &--blue {
        background-color: #003791;
        border: 2px solid #003791;

        &:hover {
            color: #003791;
          }
    }

    &--green {
        background-color: #107C10;
        border: 2px solid #107C10;

        &:hover {
            color: #107C10;
          }
    }

    &--red {
        background-color: #e60012;
        border: 2px solid #e60012;

        &:hover {
            color: #e60012;
          }
    }

    &--black {
        background-color: #000;
        border: 2px solid #000;

        &:hover {
            color: #000;
          }
    }
}
  