.footer {
  background-color: #fff;
  border-top: 1px solid #ededed;
  padding: 0 15px;

  .mainfooter {
    max-width: 1920px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__image-container {
      max-width: 150px;
      padding: 0 15px;
      border: 1px solid pink;
      display: flex;
      align-items: center;
    }

    &__image {
      width: 100%;
    }

    &__column-container {
      border: 1px solid green;
      display: flex;
      flex-wrap: wrap;
    }

    &__column {
      display: flex;
      flex-direction: column;
      margin: 20px 15px;
    }

    &__title {
      margin-bottom: 15px;
    }
  }

  .copyright-bar {
    text-align: center;

    &__text {
      padding: 15px;
      font-size: 12px;

      @include respond-to($tablet) {
        color: red;
      }
    }
  }
}
