.footer {
  background-color: #fff;
  border-top: 1px solid #ededed;
  
  .mainfooter {
    max-width: 1920px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &__image-container {
      max-width: 150px;
    }

    &__image {
      width: 100%;
    }

    &__column-container {
      border: 1px solid green;
      display: flex;
    }

    &__column {
      display: flex;
      flex-direction: column;
      margin: 0 15px;
    }
  }

  .copyright-bar {
    text-align: center;

    &__text {
      padding: 15px;
      font-size: 12px;
    }
  }
}