.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -3em;
  position: relative;
  width: 100vw;
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    a {
      text-decoration: none;
    }
    h1 {
      color: white;
      margin-left: 1rem;
    }
    nav {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      a {
        margin-right: 1em;
        text-decoration: none;
        font-family: "Futura-Heavy";
        color: white;
      }
    }
  }
}

@media screen and (min-device-width: 300px) and (max-device-width: 812px){
  .header-container {
    nav{
      display: none;
    }
  }
}