.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -3em;
  position: fixed;
  top: 0;
  width: 100vw;
  transition: all 0.4s ease;
  background-color: white;
  height: 4rem;
  z-index: 100;
  border-bottom: 2px solid rgba(60,60,60,0.1);
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    a {
      text-decoration: none;
    }
    h1 {
      text-align: center;
      color: #3c3c3c;
      margin-left: 1rem;
      transition: all 1s ease;
    }
    nav {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      a {
        margin-right: 1em;
        text-decoration: none;
        font-family: "Futura-Heavy";
        color: #3c3c3c;
        transition: all 1s ease;
      }
    }
  }
}

@media screen and (min-device-width: 300px) and (max-device-width: 812px){
  .header-container {
    nav{
      display: none;
    }
  }
}