.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
  h1 {
    font-family: "Futura";
    color: white;
  }
  nav {
    display: flex;
    align-items: center;
    a {
      margin-right: 1em;
      text-decoration: none;
      font-family: "Futura";
      color: white;
    }
  }
}