.contact-container {
  display: flex;
  max-width: 1170px;
  margin: 5em auto 0;
  padding: 0 15px;

  &__contact-info {
    width: 50%;
    border: 1px solid red;
    padding: 20px 50px;
  }

  &__form {
    width: 50%;
    border: 1px solid blue;
    padding: 20px 50px;

    .contact-form {
      border: 1px solid green;

      &__title {
        color: $green;
        margin-bottom: 10px;
      }

      &__context {
        margin-bottom: 20px;
      }

      &__input-field {
        display: flex;
        flex-direction: column;
        margin: 5px 0;

        input,
        textarea {
          border: 0;
          border-bottom: 1px solid #bdbdbd;
          margin-top: 2px;
          min-height: 20px;
          outline: none;
        }

        input:focus,
        textarea:focus {
          border: 0;
          border-bottom: 1px solid $green;
          transition: all 0.4s ease;
        }
      }

      button {
        font-family: Futura;
        background-color: $green;
        border: none;
        color: #fff;
        font-size: 18px;
        padding: 5px 20px;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
          background-color: $green--hover;
          transition: all 0.2s ease;
        }
      }
    }
  }
}
