.featured-image {
  display: flex;
  justify-content: center;

  img {
    margin-top: 7vh;
    margin-bottom: 4vh;
    height: 50vh;
    width: 1070px;
    object-fit: cover;
  }
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;

  .postContainer {
    flex-direction: column;
    width: 65%;

    .post {
      display: flex;
      flex-direction: column;

      &__title {
        font-size: 1.3em;
        color: #3c3c3c;
        margin-bottom: 5px;
      }

      &__metadata {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        font-size: 0.8em;
        color: gray;
        font-family: "Futura-Book";

        i {
          margin-right: 0.3em;
        }
      }

      &__author-date,
      &__comments,
      &__comments a {
        color: gray;
        font-family: "Futura-Book";
      }

      &__comments a {
        color: $green;

        &:hover {
          color: $green--hover;
          transition: .2s ease;
        }
      }

      &__content {
        margin-bottom: 4vh;

        h3 {
          color: #3c3c3c;
          margin: 2vh 0 1vh 0;
        }

        p {
          margin: 1rem 0;
        }
        
        a {
          color: $green;
          font-family: "Futura-Book";

          &:hover {
            color: $green--hover;
            transition: .2s ease;
          }
        }

      }
    }
  }

  .sideContainer {
    width: 30%;
    margin-left: 5%;
  }
}

@media screen and (min-device-width: 300px) and (max-device-width: 812px) {
  .featured-image {
    width: 100vw;
    img {
      width: 100vw;
      height: 50vw;
    }
  }
  .grid-container {
    .postContainer {
      flex-direction: column;
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;

      &__content {
        margin-bottom: 4vh;

        h3 {
          color: #3c3c3c;
          margin: 2vh 0 1vh 0;
        }
      }
    }

    .sideContainer {
      display: none;
    }
  }
}
