.highlight {
  width: 100vw;
  overflow: auto;
  z-index: 0;
  .indicators {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    top: 75vh;
    div {
      transition: all 0.2s ease;
      width: 0.5em;
      height: 0.5em;
      margin-right: 1em;
      border-radius: 100%;
      border: 2px solid dimgray;
      cursor: pointer;
    }
    div:hover {
        border: 2px solid white;
    }
  }
  .slides {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .slides::-webkit-scrollbar {
    display: none;
  }
}

.active-indicator {
  border: 2px solid white !important;
}

.highlight-card {
  height: 80vh;
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100vw;
  ul {
    margin-top: -2em;
    margin-left: 1rem;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    li {
      display: flex;
      flex-direction: row;
      margin-right: 1em;
       a {
         align-items: flex-start;
         height: 1.4em;
         margin-top: -4em;
         text-decoration: none;
         background-color: #003791;
         padding: 0.2em 0.5em 0.2em 0.5em;
         color: white;
       }
    }
  }

  a {
    display: flex;
    flex-direction: column;
    //position: absolute;
    margin-top: 60vh;
    text-decoration: none;
    h2 {
      margin-left: 1rem;
      text-decoration: none;
      color: white;
    }
    p {
      margin-left: 1rem;
      text-decoration: none;
      color: white;
    }
  }
}

.content {
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
  .content-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
      color: #3c3c3c;
    }
    form {
      margin-right: 25%;
      label {
        font-family: Futura;
        font-weight: lighter;
        color: #3c3c3c;
      }
      select {
        border: none;
        font-family: Futura;
        background-color: #3c3c3c;
        color: white;
        padding: 0.2em;
      }
    }
    #Laatste-nieuws {
      margin-left: 1rem;
    }
  }
  .content-grid {
    display: flex;
    flex-direction: row;
    .content-left {
      width: 70%;
      margin-right: 10%;
    }
    .content-right {
      width: 20%;
      //background-color: red;
    }
  }
}

@media screen and (min-device-width: 300px) and (max-device-width: 812px) {
  .content {
    .content-top-row {
      width: 100%;
      form {
        margin-right: 1rem;
        width: 7em;
      }
    }
    #Laatste-nieuws {
      margin-left: 1rem;
    }
    .content-grid {
      display: flex;
      flex-direction: row;
      .content-left {
        width: 100%;
      }
      .content-right {
        display: none;
      }
    }
  }
}
